.feedExchange{
    padding: 100px 0px;
    background-image: url('../images/bgNew.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.feedExchange .feedExchange-title{
    text-align: center;
    padding: 80px 50px;
}

.feedExchange .feedExchange-title h1{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 10px;
}

.feedExchange .feedExchange-title h5{
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px;
}

.feedExchange .feedExchange-title p{
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px 150px;
    font-size: 18px;
    margin: 0px;
}

@media (max-width: 576px) {
    .feedExchange .feedExchange-title {
        text-align: center;
        padding: 80px 0px;
    }

    .feedExchange .feedExchange-title h5 {
        padding: 5px 30px;
    }

    .feedExchange .feedExchange-title p {
        padding: 5px 50px;
    }
}


@media (max-width: 768px) {
    .feedExchange .feedExchange-title h1{
        font-size: 27px;
    }

    .feedExchange .feedExchange-title h5 {
        padding: 5px 30px;
        font-size: 16px;
    }


    .feedExchange .feedExchange-title p {
        padding: 5px 50px;
        font-size: 16px;
    }
}


/* =========== product  details =========== */

.feed-det{
    padding: 0px 100px;
    position: relative;
    top: -80px;
}

.feed-det .feed-p{
    padding: 50px;
    background-color: white;
    border-radius: 10px;
}

.feed-det .feed-title{
    text-align: center;
}

.feed-det .feed-title h1{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;

    color: #2b3467;
    padding: 20px;
}


.feed-det .data{
    padding: 10px;
}

.feed-det .data .det-f{
    display: flex;
    gap: 30px;
}

.feed-det .data .det-f .content{
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    flex: 1 1;
    transition: all ease 0.5s
}

.feed-det .data .det-f .content:hover{
    transform: scale(0.9)
}


.feed-det .data .det-f .content img{
    width: 40px;
    height: 40px;
}


.feed-det .data .det-f .content h5{
    /* font-size: 20px; */
    padding: 10px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;

}

.feed-det .data .det-f .content p{
    /* font-size: 15px; */
    padding: 0px 40px 20px;
    line-height: 27px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: justify;
}


@media (max-width: 576px) {
    .feed-det {
        padding: 0px 40px;
    }

    .feed-det .feed-p {
        padding: 10px;
    }

    .feed-det .data .det-f{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .feed-det {
        padding: 0px 30px !important;
    }

    .feed-det .feed-p {
        padding: 10px;
    }

    .feed-det .feed-title h1 {
        padding: 50px 0px 20px !important;
    }

    .feed-det .data .det-f{
        display: flex;
        flex-direction: column;
    }

    .feed-det .data .det-f .content {
        padding: 25px;
    }

    .feed-det .data .det-f .content p{
        padding: 0px 20px 20px !important;
    }
}


@media (max-width: 992px) {
    .feed-det {
        padding: 0px 50px;
    }

    .feed-det .feed-p {
        padding: 0px;
    }

    .feed-det .feed-title h1 {
        padding: 60px 0px 30px;
    }
}



  /* ========== demo ========= */
  .demoContact{
    padding: 0px 0px 50px;
}

.demoContact .demoContact-content{
background-color: #2b34675b;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
padding: 50px 50px 20px;
margin: 0px 130px;
border-radius: 5px;
}

.demoContact .demoContact-content h5{
color: #2b3467;
/* font-family: 'Josefin Sans', sans-serif; */
font-family: 'Poppins', sans-serif;


}

.demoContact .demoContact-content p{
font-family: 'Nunito Sans', sans-serif;
padding: 10px 0px;
color: #2b3467;
font-weight: 500;
}

.demoContact .demoContact-content a{
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px 0px;
    color: #2b3467;
    font-weight: 700;
    font-size: 19px;
    }

@media (max-width: 576px) {

.demoContact .demoContact-content{
  margin: 0px 15px;
}

}

@media (max-width: 768px) {

.demoContact .demoContact-content{
  margin: 0px 50px;
}

}


@media (max-width: 992px) {

.demoContact .demoContact-content{
  margin: 0px 50px;
}

}