a{
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: 400;
}

footer{
    background-color: #262c4e !important;
    color: rgba(255, 255, 255, 0.788) !important;
}



footer::before{
    z-index: -1;
    content: '';
    background-image: url('../images/footerbg.png');
    background-size: 100px;
    height: 100%;
    background-repeat: no-repeat;
    right: 0px;
    width: 500px;
    background-position: left;
}
